<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="./assets/logo.png" alt="" width="50" height="50">
      <small class="d-block mb-3 text-muted">Walibei &copy; 2021; all rights reserved.</small>
    </div>
    <div class="col-6 col-md">
      <h5>About us</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Our company</a></li>
        <li><a class="link-secondary" href="#">our products</a></li>
        <li><a class="link-secondary" href="#">Our services</a></li>
        <li><a class="link-secondary" href="#">Our jobs</a></li>
        <li><a class="link-secondary" href="#">Our headquarters</a></li>
        <li><a class="link-secondary" href="#">Contact us</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Terms of use and general conditions</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Terms of use</a></li>
        <li><a class="link-secondary" href="#">General conditions</a></li>
        <li><a class="link-secondary" href="#">Complaints</a></li>
        <li><a class="link-secondary" href="#">Refunds</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Help</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary" href="#">Feedbacks</a></li>
        <li><a class="link-secondary" href="#">Customers care</a></li>
        <li><a class="link-secondary" href="#">Jobs and careers</a></li>
        <li><a class="link-secondary" href="#">Contact us</a></li>
        <li><a class="link-secondary" href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</footer>
    

  