<form class="form-signin">
    <div class="text-center mb-4">
      <img class="mb-4" src="assets/logo.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Product - Service - Job</h1>
      <p>Kindly please choose your profile type</p>
    </div>
  
  
    <div class="checkbox mb-3">
      <label>
        <input type="radio" value="remember-me" href="signup"> Supply profile
      </label>
    </div>

    <div class="checkbox mb-3">
        <label>
          <input type="radio" value="remember-me"> Request profile
        </label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="radio" value="remember-me"> Delivery profile
        </label>
      </div>
    <a class="btn btn-lg btn-primary btn-block" href="signup">Sign up</a>
    <p class="mt-5 mb-3 text-muted text-center">Your all-in-one, everywhere and for everything</p>
    <p>Do you have an account? <a href="login">Log into your account</a></p>
</form>