<div class="text-center mb-4">
    <div class="container">
        <figure class="figure">
          <img src="assets/drcmap.gif" usemap="#image_map" style="width: 1;height: 1;">
          <figcaption class="figure-caption text-right"><h3>Select your region on the map to filter offers</h3></figcaption>
          <map name="image_map">
            <area alt="Conakry" title="Conakry" href="#" coords="4,123,73,158" shape="rect">
            <area alt="Kindia" title="Kindia" href="#" coords="55,92,115,120" shape="rect">
            <area alt="Boké" title="Boké" href="#" coords="12,25,63,78" shape="rect">
            <area alt="Labé" title="Labé" href="#" coords="94,11,147,53" shape="rect">
            <area alt="Mamou" title="Mamou" href="#" coords="86,55,140,89" shape="rect">
            <area alt="Faranah" title="Faranah" href="#" coords="144,72,193,106" shape="rect">
            <area alt="Kankan" title="Kankan" href="#" coords="195,41,258,105" shape="rect">
            <area alt="N'Zérékore" title="N'Zérékore" href="#" coords="206,133,282,183" shape="rect">
          </map>
        </figure>
        <br>
        <form class="form-inline">
          <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Choose your town from this list</label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>My town/city ...</option>
            <option value="1">Kinshassa (Zone spécial de)</option>
            <option value="2">Baraka</option>
            <option value="3">Beni</option>
            <option value="4">Boende</option>
            <option value="5">Boma</option>
            <option value="6">Bukavu</option>
            <option value="7">Bunia</option>
            <option value="8">Buta</option>
            <option value="9">Butembo</option>
            <option value="10">Gbadolite</option>
            <option value="11">Gemena</option>
            <option value="12">Goma</option>
            <option value="13">Inongo</option>
            <option value="14">Isiro</option>
            <option value="15">Kabinda</option>
            <option value="16">Kalemie</option>
            <option value="17">Kamina</option>
            <option value="18">Kananga</option>
            <option value="19">Kenge</option>
            <option value="20">Kikwit</option>
            <option value="21">Kindu</option>
            <option value="22">Kisangani</option>
            <option value="23">Kinshasa</option>
            <option value="24">Kolwezi</option>
            <option value="25">Likasi</option>
            <option value="26">Lisala</option>
            <option value="27">Lubumbashi</option>
            <option value="28">Lusambo</option>
            <option value="29">Matadi</option>
            <option value="30">Mbandaka</option>
            <option value="31">Mbujimayi</option>
            <option value="32">Muene-Ditu</option>
            <option value="33">Tshikapa</option>
            <option value="34">Uvira</option>
            <option value="35">Zongo</option>
          </select>
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
          <input type="checkbox" class="custom-control-input" id="customControlInline">
          <label class="custom-control-label" for="customControlInline">Remember my town</label>
        </div>
      
        <button type="submit" class="btn btn-outline-primary my-1">Confirm</button>
      </form>
      </div>
      </div>