<main class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Your digital sapce</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="#">About us</a>
            <a class="nav-link" href="login">Login</a>
            <a class="nav-link" href="signup">Sign up</a>
          </nav>
        </div>
      </header>
    
      <main class="px-3">
        <h1>Walibei</h1>
        <p class="lead">
          Your all-in-one for everything, anywhere, for everything.<br>
          Your digital space to sell or buy products, request or offer services, find or offer jobs. 
        </p>
        <p class="lead">
          <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
      </main>
    
      <footer class="mt-auto text-white-50">
        <p>WALIBEI <a href="https://getbootstrap.com/" class="text-white">follow us on social media</a>, by <a href="https://www.facebook.com/Padre2re" class="text-white">@gtfrans2re</a>.</p>
      </footer>
    </div>
    
    
        
  </main>