<form class="form-signin">
    <div class="text-center mb-4">
      <img class="mb-4" src="assets/logo.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Product - Service - Job</h1>
      <p>Log into your account to use walibei and get the most out of it</p>
    </div>
  
    <div class="form-label-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Enter your email id here" required autofocus>
      <label for="inputEmail">E-mail id</label>
    </div>
  
    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Please provide your password" required>
      <label for="inputPassword">Password</label>
    </div>
  
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <p class="mt-5 mb-3 text-muted text-center">Your all-in-one, everywhere and for everything</p>
    <p>Do not have an account? <a href="account">Create a new account</a></p>
</form>